services:
  newsletter-rabbitmq:
    container_name: Newsletter.RabbitMq
    image: rabbitmq:3-management-alpine
    hostname: newsletter-rabbitmq
    ports:
      - 5672:5672
      - 15672:15672
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: Livros123Estudos
    volumes:
      - ~/.containers/queue/data/:/var/lib/rabbitmq/
      - ~/.containers/queue/log/:/var/log/rabbitmq
    networks:
      - estudos-networks
      
  newsletter-sqldata:
    image: mcr.microsoft.com/mssql/server:2022-preview-ubuntu-22.04
    container_name: newsletter.sqldata
    environment:
      MSSQL_SA_PASSWORD: "Livros123@Estudos"
      ACCEPT_EULA: "Y"
      MSSQL_PID: "Evaluation"
    ports:
      - "1433:1433"
    volumes:
      - "./.containers/database:/var/opt/mssql/data"
    networks:
      - estudos-networks
      
  api:
    container_name: estudos.api
    build:
      dockerfile: EstudosDocker/Dockerfile
      context: .
    ports:
      - 8080:8080
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on: ["newsletter-rabbitmq","newsletter-sqldata"]
    restart: on-failure
    networks:
      - estudos-networks    

  serviceworker:
    container_name: estudos.service
    build:
      context: .
      dockerfile: EstudosDockerServicoTheWork/Dockerfile
    ports:
      - 8087:8087
    environment:
      - MSSQL_SA_PASSWORD=Livros123@Estudos
    depends_on: ["newsletter-rabbitmq","newsletter-sqldata"]
    restart: on-failure
    networks:
      - estudos-networks
       

networks:
  estudos-networks:
    driver: bridge