services:
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: 'rabbitmq'
    hostname: "rabbitmq"
    labels:
      NAME: "rabbitmq"
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 5s
      timeout: 15s
      retries: 3
    ports:
        - 5672:5672
        - 15672:15672
    environment:
      RABBITMQ_DEFAULT_USER: "admin"
      RABBITMQ_DEFAULT_PASS: "Livros123Estudos"
    volumes:
        - ~/.docker-conf/rabbitmq/data/:/var/lib/rabbitmq/
        - ~/.docker-conf/rabbitmq/log/:/var/log/rabbitmq
    networks:
      - estudos-networks
      
  sqldata:
    image: mcr.microsoft.com/mssql/server:2022-preview-ubuntu-22.04
    container_name: 'sqldata'
    hostname: "sqldata"
    environment:
      - MSSQL_SA_PASSWORD=Livros123@Estudos
      - ACCEPT_EULA=Y
      - MSSQL_PID=Evaluation
    ports:
      - "5434:1433"
    volumes:
      - "livros-bd-mssql-server:/var/opt/mssql"
    networks:
      - estudos-networks
      
  api:
    container_name: estudos-api
    build:
      dockerfile: Dockerfile
      context: .
    ports:
      - 4652:8080
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    depends_on: ["rabbitmq","sqldata"]
    restart: on-failure
    networks:
      - estudos-networks    

volumes:
  livros-bd-mssql-server:        

networks:
  estudos-networks:
    driver: bridge